/* Use this if we need it */
/* 
#map-container > div > div {
    overflow: auto; 
    position: relative;
}

#map-container > div > div > div {
    margin: auto;
    max-width: 70%;
    max-height: 70%;
} */

.loinc-pie-chart > div {
    margin: auto;
    width: 100%;
    height: 100%;
}

.subway-histogram > div {
    margin: auto;
    width: 100%;
    height: 100%;
}

#new-apartments-histogram > div > div > div {
    margin: auto;
    width: 100%;
    height: 100%;
}